.outer {
position:relative;
padding:4em 0 3em 0;
width:54em;
background:#eee;
margin:0 auto 3em auto;
}
.innera {
overflow:auto;
width:54em;
height:9.6em;
background:#eee;
}
.outer table caption {
position:absolute;
width:95%;
text-align:center;
top:0;
left:0;
height:1.5em;
background:#697210;
border:0.1em solid #fff;
color:#fff;
}
.outer thead tr {
position:absolute;
top:1.5em;
height:1.5em;
left:0;
}
.outer tfoot tr {
position:absolute;
bottom:1.5em;
height:1.5em;
left:0;
}
/*.outer tfoot td {*/
/*position:absolute;*/
/*width:51.5em;*/
/*text-align:center;*/
/*background:#f0c992; */
/*border:0.1em solid #000;*/
/*color:#000;*/
/*bottom:0;*/
/*left:0*/
/*}*/
.outer th, .outer td {
width:10em;
text-align:left;
}
.outer th {
background:#724a10; 
color:#fff;}
.outer .dk {background:#fff;
}
